body {
	background-color: rgb(66,48,64);}

h1 {
	background-color: rgb(66,48,64);}

p1 {
	background-color: rgb(181,217,217);}

h2 {
	background-color: rgb();}

p2 {
	background-color: rgb();}

h3 {
	background-color: rgb();}

p3 {
	background-color: rgb();}

h4 {
	background-color: rgb();}

p4 {
	background-color: rgb();}

h5 {
	background-color: rgb();}

p5 {
	background-color: rgb();}

h6 {
	background-color: rgb();}

p6 {
	background-color: rgb();}

	body  
	{
		font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; color: white

	 }


	h1, h2, h3, h4, h5, h6 {
		font-family: Constantia, Lucinda Bright, Dejavu Serif, Georgia, serif; color: white; font-size: 100px;

	}

	p  {
		font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; color: white; font size: 25px;
	}


