body {
        color: rgb(66,48,64);
        background-color: rgb(66,48,64);
        background-image: url("http://i1067.photobucket.com/albums/u428/llauren044/gplaypattern_2X%20copy_zpsnl4gciyw.png"); /* background image*/
        background-position: center;
        line-height: 1.4em;
        margin: 0px;}




h1 {
	background-color: rgb(66,48,64)
}

div {
    float: left;
    width: 120px;
    margin: 0 0 15px 20px;
    padding: 15px;
    text-align: center;
}
	

h6 {
	background-color: rgb(66,48,64)
}
#para5 {
	background-color: rgb(66,48,64)
}




	h1, h2, h3, h4, h5, h6 {
		font-family: Constantia, Lucinda Bright, Dejavu Serif, Georgia, serif; color: white; font-size: 45px;

	}

	#para1, #para2, #para3, #para4, #para5, #para6, #para12 {
		font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; color: white; font size: 35px;
	}


